body {
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

header {
    background-color: #ffff00eb;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.calculator {
    background-color: #ffff00eb;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.input-section {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.button-section {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
}

.result-section {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffff00eb;
}

label {
    font-weight: bold;
}

p {
    margin-top: 5px;
}

